<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/s/css/stylesLobby.css">
    <link rel="icon" href="https://www.info.unlp.edu.ar/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title> Lobby </title>
</head>

<body>
    <!-- LOBBY: -->

    <div class="encabezado">
        <h1>Entrega Final JS 2024</h1>
    </div>

    <div <% if (nombres!==undefined) { %> hidden <% } %>>
    <h1 class="titulo"> TP FINAL Lima - Guaymas - Fischer </h1>
    <div class="container-nombres">
        <form action="/" method="POST">
            <input type="text" id="insertarNombre" placeholder="Ingrese nombre..." name="jugador">
            <button type="submit" id="nombreJugador" class="boton btn1">Confirmar</button>
        </form>
    </div> 
    </div>

    <div class="container-perfiles">
        <% if (nombres!==undefined) { %>
            <div class="jugador" id="jugador">
                <p class="titulosJugadores" id="nombre">
                    <%= nombres %>
                </p>
                <p class="elegir">Elegí un color: </p>
                <div class="card">
                    <ul id="listadoJugador">
                        <li class="color-item" id="azul" value="rgb(0, 66, 157)"></li>
                        <li class="color-item" id="celeste" value="rgb(0, 66, 157)"></li>
                        <li class="color-item" id="rojo" value="rgb(238, 49, 49)"></li>
                        <li class="color-item" id="salmon" value="rgb(250, 128, 114)"></li>
                        <li class="color-item" id="verde" value="rgb(27, 193, 52)"></li>
                        <li class="color-item" id="purpura" value="rgb(128, 0, 128)"></li>
                        <li class="color-item" id="rosa" value="rgb(215, 52, 230)"></li>
                    </ul>
                </div>
            </div>
            <% } %>
    </div>

    <div class="container-boton">
        <button id="botonCrear" style="display: none" class="btn"> Crear una partida </button>
        <button id="botonUnirse" style="display: none" class="btn"> Unirse a partida </button>
        <div id="campoInput" style="display: none">
            <input type="text" placeholder="Ingresá el ID de la partida" id="joinID">
            <button id="botonPegar" class="btn"> Pegar </button>
            <button type="submit" id="botonConfirmar" class="btn"> Confirmar </button>
        </div>
    </div>

    <div class="error">
        <p id="error"></p>
    </div>

    <script src="/s/scriptLobby.js"></script>
</body>

</html>